.container {
    display: flex;
    gap: 20px;
}

canvas {
    border: 1px solid black;
    cursor: crosshair;
}

#colorBox {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: #ffffff;
}

#infos {
    font-family: sans-serif;
    line-height: 1.5;
}