body {
    background-color: rgb(199, 63, 206);
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px auto 50px 50px 50px;
    gap: 5px;
    height: 100vh;
}

#item1 {
    background-color: #F16B08;
    grid-column: 1 / 4;
    grid-row: 1;
}

#item2 {
    background-color: #B2F109;
    grid-column: 1;
    grid-row: 2 / 6;
}

#item3 {
    background-color: #23F109;
    grid-column: 2;
    grid-row: 5;
}

#item4 {
    background-color: #3050F0;
    grid-column: 1 / 4;
    grid-row: 6;
}

#item5 {
    background-color: #FBB5E9;
    grid-column: 2;
    grid-row: 2;
}

#item6 {
    background-color: #0AF1AD;
    grid-column: 2;
    grid-row: 3 / 5;
}

#item7 {
    background-color: #E8F571;
    grid-column: 3;
    grid-row: 2 / 4;
}

#item8 {
    background-color: #31838F;
    grid-column: 3;
    grid-row: 4 / 6;
}