body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 30px 0 0 0;
    text-align: center;
}

h1 {
    margin: 0 0 30px 0;
}

nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}

p {
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    max-width: 1000px;
    margin: auto;
}