body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
}

.image-1 {
    background-image: url("https://picsum.photos/id/10/1920/1080");
    min-height: 100%;
}

.image-2 {
    background-image: url("https://picsum.photos/id/16/1920/1080");
    min-height: 400px;
}

.image-3 {
    background-image: url("https://picsum.photos/id/29/1920/1080");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.content {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
    letter-spacing: 5px;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}